# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# Virtual Environment
# ==========================================
venv/
.venv/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Database
# ==========================================
data/
*.db
*.sqlite
*.sqlite3

# ==========================================
# PyInstaller
# ==========================================
build/
dist/

# ==========================================
# IDE / Editor
# ==========================================
.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================
.DS_Store
Thumbs.db