<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ビンゴ操作画面</title>

    <script src="/static/js/tailwind.js"></script>
    <link rel="icon" href="/static/icon/controller_fav.ico">
</head>

<body class="bg-slate-950 text-white min-h-screen">
    <div class="max-w-5xl mx-auto px-6 py-12">

        <div class="flex items-center justify-between mb-10">
            <div>
                <p class="text-slate-400 text-sm tracking-widest">BINGO ADMIN</p>
                <h1 class="text-4xl font-bold mt-2">コントローラー</h1>
            </div>

            <div class="flex gap-3">
                <a
                    href="/display"
                    target="_blank"
                    class="bg-slate-800 hover:bg-slate-700 text-white px-5 py-3 rounded-xl"
                >
                    ディスプレイ起動
                </a>

                <a
                    href="/admin/quizzes"
                    class="bg-slate-800 hover:bg-slate-700 text-white px-5 py-3 rounded-xl"
                >
                    管理画面へ
                </a>

            </div>
        </div>

        <div class="bg-slate-900 rounded-3xl p-10 shadow-xl text-center">
            <p class="text-slate-400 text-xl mb-4">
                操作画面
            </p>

            <div id="result" class="text-8xl font-black mb-10">
                -
            </div>

            <div class="flex justify-center gap-4">
                <button
                    onclick="drawNumber()"
                    class="bg-blue-600 hover:bg-blue-500 px-8 py-4 rounded-2xl text-xl font-bold"
                >
                    抽選
                </button>

                <select
                    id="quiz-select"
                    class="bg-slate-800 px-4 py-3 rounded-xl text-lg"
                >
                </select>

                <button
                    onclick="showQuiz()"
                    class="bg-amber-600 hover:bg-amber-500 px-8 py-4 rounded-2xl text-xl font-bold"
                >
                    出題
                </button>

                <button
                    onclick="toggleAnswer()"
                    class="bg-emerald-600 hover:bg-emerald-500 px-8 py-4 rounded-2xl text-xl font-bold"
                >
                    答え
                </button>
            </div>
        </div>

        <p class="text-slate-400 text-sm mt-6">
            ※音を出すため、最初にdisplay側の画面上のどこかを一度クリックしてください
        </p>

    </div>

    <script src="/static/js/controller.js"></script>
</body>
<footer class="text-center text-slate-600 text-sm py-5 border-t border-slate-800 mt-10">
    {{ app_name }} v{{ app_version }}
    <span class="mx-2">|</span>
    Developed by Room 404
    <span class="mx-2">|</span>
    © 2026
</footer>
</html>